.header__lang-select-zone {
  font-family: 'Inter', 'Arial',  sans-serif;
  color: white;
  list-style: none;
  display: flex;
  column-gap: 18px;
  padding-bottom: 8px;
  margin: 0;
  padding-left: 0;
}

@media screen and (min-width: 520px) {
  .header__lang-select-zone {
    padding-bottom:6px;
  }
}
