.places__title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    margin: 0;
  }

  @media (min-width:520px) and (max-width:768px){
    .places__title {
      font-size: 42px;
      line-height: 46px;
      max-width: 328px;
    }
  }

  @media (min-width:769px) and (max-width:1024px){
    .places__title {
      font-size: calc(42px + (72 - 42) * ( (100vw - 769px) / ( 1024 - 769) ));
      line-height: calc(46px + (76 - 46) * ( (100vw - 769px) / ( 1024 - 769) ));
    }
  }

  @media (min-width:1025px){
    .places__title {
      font-size: 72px;
      line-height: 76px;
    }
  }
