.places__link-position {
  display: grid;
  align-items: end;
  align-content: end;
  row-gap: 12px;
  padding-left: 16px;
}

@media (min-width:520px) {
  .places__link-position {
    padding-left: 0;
  }
}

