.footer__navigate-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 32px;
}

@media (min-width:650px){
  .footer__navigate-list {
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 18px;
  }
}
